* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
header {
	height: 3.8125rem;
}
header .nav {
	position: relative;
	height: 3.75rem;
}
header .nav h1 {
	position: absolute;
	float: left;
	padding-top: 0.3125rem;
	padding-left: 1.25rem;
	font-size: 2.5rem;
}
header nav ul {
	position: absolute;
	right: 0.625rem;
	width: 25rem;
	height: 3.75rem;
	/* float: left; */
}
header nav ul li {
	float: left;
	width: 25%;
	padding: 0.3125rem;
	font-size: 1.875rem;
}
body article{
	background-color: #dfe4ea;
}
article .banner {
	position: relative;
	width: 80rem;
	height: 45rem;
}
article .img {
	position: relative;
	left: 25%;
	width: 80rem;
	height: 45rem;
}
article .intro1 {
	position: absolute;
	top: 3.125rem;
	left: 21.875rem;
	width: 31.25rem;
	height: 12.5rem;
	font-size: 1.25rem;
}

article .intro2 {
	position: absolute;
	top: 34.375rem;
	left: 68.75rem;
	width: 40.625rem;
	height: 12.5rem;
	font-size: 1.25rem;	
}
footer {
	background-color: #fff;
	padding-top: 1.25rem;
}
footer p {
	color: lightgray;
	text-align: center;
}