@media screen and (max-device-width: 400px) {
	.left{
		float:none;
	}
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
header {
	padding-left: 0.5rem;
	padding-top: 0.625rem;
}
header .nav .title {
	display: block;
	width: 25rem;
	height: 3.75rem;
	font-size: 120%;
	float: left;
}
header .title {
	display: block;
	width: 100rem;
	height: 3.75rem;
}
header .nav .nav_list ul li{
	padding-left: 0.9375rem;
	font-size: 30px;
	text-align: center;
	float: right;
}
header .nav .nav_list ul li a {
	display: block;
}
article .back {
	display: block;
	width: 100%;
	height: 56.25rem;
	background-color: #dfe4ea;
	text-align: center;
}
article .banner {
	display: block;
	margin: 0 auto;
	width: 80rem;
	height: 46.25rem;
	left: 50%;
}
article .banner .img img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
footer {
	background-color: #fff;
	padding-top: 1.25rem;
}
footer p {
	color: lightgray;
	text-align: center;
}