* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
html {
	font-size:62.5%;
}
body {
	font:normal 100% Arial,sans-serif;
	font-size:14px; 
	font-size:1.4rem; 
}
header .title {
	font-size: 4.2rem;
	text-align: center;
}
header .intro {
	margin-left: 25%;
	margin-right: 25%;
	font-size: 2.0rem;
	text-align: center;
}
article a {
	color: #f1f2f6;
	text-shadow: black 3px 0 0;
}
article a :hover {
	color: #70a1ff;
}
article .href {
	position: relative;
	text-align: center;
	color: white;
	text-shadow: black 3px 0 0;
	margin-top: 4rem;
}
article .href .href_img {
	height: 42rem;
	background-image: url(../img/spt_back.jpg);
	background-repeat: no-repeat;
	background-position: center;
	opacity:0.6;
}
article .href .baidu_ND {
	margin: 0 auto;
	width: 40rem;
	height: 8rem;
	border: 4px solid white;
	border-radius: 10px;
}
article .href .tencent_ND {
	margin: 0 auto;
	margin-top: 0.3rem;
	width: 40rem;
	height: 8rem;
	border: 4px solid white;
	border-radius: 10px
}
article .href .email {
	margin: 0 auto;
	margin-top: 0.3rem;
	width: 40rem;
	height: 8rem;
	border: 4px solid white;
	border-radius: 10px
}
article .href .download {
	margin: 0 auto;
	margin-top: 0.3rem;
	width: 40rem;
	height: 8rem;
	border: 4px solid white;
	border-radius: 10px
}